[Unit]
Description=ivoai container dependencies
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f /etc/ivoai/compose.yaml up -d --force-recreate --wait --wait-timeout 840
ExecStartPost=/usr/bin/docker network disconnect ivoai-model-download ivoai-embeddings
ExecStartPost=-/usr/bin/docker network disconnect -f ivoai-host-publish ivoai-qdrant-1
ExecStartPost=-/usr/bin/docker network disconnect -f ivoai-host-publish ivoai-embeddings
ExecStartPost=-/usr/bin/docker network disconnect -f ivoai-host-publish ivoai-ai-memory-1
ExecStop=/usr/bin/docker compose -f /etc/ivoai/compose.yaml down
NoNewPrivileges=yes
TimeoutStartSec=15min
TimeoutStopSec=2min

[Install]
WantedBy=multi-user.target
